<div id="page-content">

  <% @articles.each do |article| %>
    <div class="container">
      <div class="card text-center img-fluid rounded-4 shadow-2-strong">

        <div class="card-header">
            <% if article.user %>
              <%=  link_to article.user.username, users_path(article.user),class:"btn btn-dark btn-rounded" %>
            <% end %>

           <div class="container">
             <% if article.categories.any? %>
               <div class="mt-2 btn btn-info btn-rounded"> <%= render article.categories %></div>
             <% end %>
           </div>


        </div>

        <div class="card-body">

          <h5 class="card-title"><%= link_to article.title,article_path(article),class:"text-success" %></h5>
          <p class="card-text"><%= truncate(article.description,length: 100) %></p>

          <%= link_to "View", article_path(article),class:"btn btn-outline-success" %>
            <% if logged_in? && (article.user == current_users || current_users.admin?) %>
                <%= link_to "Edit", edit_article_path(article),class:"btn btn-outline-info" %>
                <%= button_to "Delete", article_path(article),method: :delete, data: { confirm: "Are you sure?" },class:"btn btn-outline-danger" %>
            <% end %>
            </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(article.created_at) %>ago,
            edited <%= time_ago_in_words(article.updated_at) %> ago </small>
        </div>
      </div>
    </div>

  <% end %>
</div>

