<div id="page-content">
  <h2 class="text-center mt-4"><%= @article.title %></h2>

  <div class="container">
    <div class="card text-center img-fluid rounded-4 shadow-2-strong">
      <div class="card-header">Miltos</div>
      <div class="card-body">
        <p class="card-text"><%= simple_format(@article.description) %></p>
        <%= link_to "Edit", edit_article_path(@article),class:"btn btn-outline-info" %>
        <%= link_to "Delete", article_path(@article),class:"btn btn-outline-danger",method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
      <small>Created <%= time_ago_in_words(@article.created_at) %>ago,
        edited <%= time_ago_in_words(@article.updated_at) %> ago </small>
    </div>
  </div>
</div>

